<form class="form-inline" action="/#">
    <fieldset>
        <input class="clock-input focused hours" type="text" placeholder="00" maxlength="2" pattern="[0-9]*" onclick="this.select()"></input>
        <input class="clock-input focused minutes" type="text" placeholder="00" maxlength="2" pattern="[0-9]*" onclick="this.select()"></input>
        <input class="clock-input focused seconds" type="text" placeholder="00" maxlength="2" pattern="[0-9]*" onclick="this.select()"></input> <button type="button" class="btn btn-primary btn-large start-pause">Start</button>
        <button type="button" class="btn btn-info btn-large reset">Reset</button>
    </fieldset>
</form>
